<% if false %>
  <%= form_with(model: user, local: true) do |form| %>

    <% if host_user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(host_user.errors.count, "error") %> prohibited this host_user from being saved:</h2>

        <ul>
        <% host_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
<%= form_with(model: user, local: true) do |f| %>
  <% if false %>
    <%= render 'shared/deviceErrorMsg' %>
<% end %>
    <div class="form-group">
      <%= f.text_field :name, autofocus: true, :placeholder => "名前", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, :placeholder => "Email", :class => 'form-control' %>
    </div>
    <% if false %>
    <div class="form-group">
      <%= f.text_field :phone_number, :placeholder => "電話番号", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.text_area :description, rows: 5, cols: 25,  :placeholder => "自己紹介文", :class => 'form-control' %>
    </div>
    <% end %>
    <div class="form-group">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :新しいパスワード %> <i>(変更しない場合は空欄で構いません)</i><br />
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :新しいパスワードの確認 %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "プロフィールを更新", :class => "btn btn-primary" %>
    </div>
<% end %>
