
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard calendar</a>
  </li>
</ol>
<!-- /Breadcrumbs-->

<section class="box_general u-pad_bottom_30">
  <div class="header_box version_2">
    <h2>Calendar</h2>
  </div>

  <div class="row">
    <div class="col-md-6">
      <!-- datepicker Calendar -->
      <%= form_for([@listing, @listing.reservations.new]) do |f| %>
        <div class="row row-space-top-4">
          <div class="col-md-8 col-md-offset-2 calendar">
            <label>できない日を指定</label>
            <div id="datepicker"></div>
          </div>
        </div>
        <br>
        <hr>
        <%= f.hidden_field :listing_id, value: @listing.id %>
        <%= f.hidden_field :selfReservedDates, value: "", id:"selfReservedDates" %>
        <div class="actions">
          <%= f.submit "更新", class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</section>

<script>

otherDisabledDates = [];

//自分が予約した日付
selfReservedDates = [];

function addDate(date) {
  if($.inArray(date, selfReservedDates) < 0) selfReservedDates.push(date);
}

function removeDate(index){
  selfReservedDates.splice(index, 1);
}

// 選択された日付がすでに"selfReservedDates"にあれば、削除。なければ追加
function addOrRemoveDate(date) {
    var index = jQuery.inArray(date, selfReservedDates);
    if (index >= 0)
      removeDate(index);
    else
      addDate(date);
}

// カレンダーの選択可能日と不可能日を決める関数
function SelectMultipleDates(date){
  //inArray(value,array) 第一引数に渡した値が配列中にあれば、そのインデックスを返します。
  var gotDateIndex = $.inArray($.datepicker.formatDate($(this).datepicker('option', 'dateFormat'), date), selfReservedDates);
  var disabledDateIndex = $.inArray($.datepicker.formatDate($(this).datepicker('option', 'dateFormat'), date), otherDisabledDates);

  if (gotDateIndex >= 0) {
    return [true,'class-holiday'];
  } else if(disabledDateIndex >= 0) {
    return [false, ''];
  } else {
    return [true, ""];
  }
}

// メインの処理　
$(function () {
  $.ajax({
    url: '/setdate',
    // this data is data for sending to url
    data: {'listing_id': <%= @listing.id %>},
    dataType: 'json',
    // callback argument: data is the response data
    success: function(data){

      $.each(data,function(arrID,arrValue){
        //自分で予約した日付"selfReservedDates[]"と他人が予約した日付"otherDisabledDates[]"をわけてpushしなきゃいけない
        for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1 )){

          // 自分で予約した場合の日付
          if(arrValue.user_id == <%= current_user.id %>){
            selfReservedDates.push($.datepicker.formatDate('d-m-yy',d));
            $('#selfReservedDates').val(selfReservedDates);
          }else{
            otherDisabledDates.push($.datepicker.formatDate('d-m-yy',d));
          }
        }
      });

      $("#datepicker").datepicker({
          dateFormat: "d-m-yy",
          minDate: 0, // Unix timestamp
          beforeShowDay:SelectMultipleDates,
          onSelect: function(dateText, inst){
              addOrRemoveDate(dateText);
              $('#btn-book').attr('disabled', false);
              $('#selfReservedDates').val(selfReservedDates);
              //ruby controller 内で　, で区切って配列化
              console.log("セレクト");
              console.log(selfReservedDates);
              console.log("ディスエイブル");
              console.log(otherDisabledDates);
          }
      });
    }
  });
});
</script>
