<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">edit listing-Facility</li>
</ol>
<!-- /Breadcrumbs-->

<%= form_for @listing do |f| %>
  <section class="box_general u-pad_bottom_30">
    <div class="header_box version_2">
      <h2>Facility</h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :TV %>
          <%= f.check_box :is_tv, id: :room_is_tv %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :Kitchen %>
          <%= f.check_box :is_kitchen, id: :room_is_kitchen %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :AirCondition %>
          <%= f.check_box :is_air, id: :room_is_air %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :Heating %>
          <%= f.check_box :is_heating, id: :room_is_heating %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :Internet %>
          <%= f.check_box :is_internet, id: :room_is_internet %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :Accomodate %><br/>
          <%= f.number_field :accomodate, id: :room_accomodate %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :Bedroom %><br/>
          <%= f.number_field :bedroom, id: :room_bedroom %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :Bathroom %><br/>
          <%= f.number_field :bathroom, id: :room_bathroom %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :Sheet %><br/>
          <%= f.number_field :sheet, id: :room_sheet %>
        </div>
      </div>
    </div>

  </section>

  <%= render 'shared/verticalnavbar'%>

  <p>
    <%= f.submit "Update", class: "button button--save u-border-rounded" %>
  </p>
<% end %>