<p id="notice"><%= notice %></p>

<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Listings list</li>
</ol>
<!-- /Breadcrumbs-->
<section class="box_general">
  <div class="header_box">
    <h2 class="d-inline-block">Listings list</h2>
    <div class="filter">
      <select name="orderby" class="selectbox" sb="24272890" style="display: none;">
        <option value="All">All</option>
        <option value="Public">Public</option>
        <option value="Pending">Pending</option>
      </select>
      <div id="sbHolder_24272890" class="sbHolder">
        <a id="sbToggle_24272890" href="#" class="sbToggle"></a>
        <a id="sbSelector_24272890" href="#" class="sbSelector">All</a>
        <ul id="sbOptions_24272890" class="sbOptions" style="display: none;">
          <li><a href="#All" rel="All" class="sbFocus">All</a></li>
          <li><a href="#Public" rel="Public">Public</a></li>
          <li><a href="#Pending" rel="Pending">Pending</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="list_general">
    <ul>
      <% @listings.each do |listing| %>
        <li>
          <article>
            <figure>
              <% if listing.photos.length > 0 %>
                <% if false %>
                <%= image_tag listing.photos[0].photo.url(:middle)  %>
                <% end %>
                <img src="http://placehold.jp/150x50.png" />
              <% else %>
                <img src="http://placehold.jp/150x50.png" />
              <% end %>
            </figure>
            <h4 class="listing-title"><%= listing.listing_name%></h4>
            <ul class="booking_list">
              <li><strong>写真: 登録済み</strong> <%= link_to "写真を登録する", manage_listing_photos_path(listing), data:{no_turbolink: true} %></li>
              <li><strong>設備: 登録済み</strong> <%= link_to "設備情報を登録する", manage_listing_facility_path(listing) %></li>
              <li><strong>料金: <%= listing.price %></strong> <%= link_to "料金を設定する", manage_listing_price_path(listing) %></li>
            </ul>
            <p><%= link_to "公開中", manage_listing_publish_path(listing), class: "btn_1 gray" %></p>
            <ul class="buttons">
              <li>
                <%= link_to "編集する", edit_listing_path(listing), class: "btn_1 gray approve" %>
              </li>
              <li>
                <%= link_to '削除する', listing, method: :delete, data: { confirm: '削除してもよろしいですか?' }, class: "btn_1 gray delete" %>
              </li>
            </ul>
          </article>
        </li>
      <% end %>

      <li>
        <figure><img src="http://placehold.jp/150x50.png" alt=""></figure>
        <h4>Da Alfredo</h4>
        <ul class="booking_list">
          <li><strong>create date</strong> 11 November 2017</li>
          <li><strong>check details</strong></li>
          <li><strong>host</strong> Mark Twain</li>
        </ul>
        <p><a href="#0" class="btn_1 gray">公開中</a></p>
        <ul class="buttons">
          <li><a href="#0" class="btn_1 gray approve">編集する</a></li>
          <li><a href="#0" class="btn_1 gray delete">削除する</a></li>
        </ul>
      </li>
      <li>
        <figure><img src="http://placehold.jp/150x50.png" alt=""></figure>
        <h4>Pompidue Museum</h4>
        <ul class="booking_list">
          <li><strong>Booking date</strong> 11 November 2017</li>
          <li><strong>Booking details</strong> 2 People</li>
          <li><strong>Client</strong> Mark Twain</li>
        </ul>
        <p><a href="#0" class="btn_1 gray">未公開</a></p>
        <ul class="buttons">
          <li><a href="#0" class="btn_1 gray approve">編集する</a></li>
          <li><a href="#0" class="btn_1 gray delete">削除する</a></li>
        </ul>
      </li>
    </ul>
  </div>  
</section>
<!-- /box_general-->
	  
<nav aria-label="...">
  <ul class="pagination pagination-sm add_bottom_30">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<!-- /pagination-->
     
<% if false %>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Home type</th>
      <th>Room type</th>
      <th>Summary</th>
      <th>Address</th>
      <th>Is tv</th>
      <th>Is kitchen</th>
      <th>Is air</th>
      <th>Is heating</th>
      <th>Is internet</th>
      <th>Accomodate</th>
      <th>Bedroom</th>
      <th>Bathroom</th>
      <th>Sheet</th>
      <th>Price</th>
      <th>Active</th>
      <th>User</th>
      <th>Listing name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.home_type %></td>
        <td><%= listing.room_type %></td>
        <td><%= listing.summary %></td>
        <td><%= listing.address %></td>
        <td><%= listing.is_tv %></td>
        <td><%= listing.is_kitchen %></td>
        <td><%= listing.is_air %></td>
        <td><%= listing.is_heating %></td>
        <td><%= listing.is_internet %></td>
        <td><%= listing.accomodate %></td>
        <td><%= listing.bedroom %></td>
        <td><%= listing.bathroom %></td>
        <td><%= listing.sheet %></td>
        <td><%= listing.price %></td>
        <td><%= listing.active %></td>
        <td><%= listing.user_id %></td>
        <td><%= listing.listing_name %></td>
        <td><%= listing.latitude %></td>
        <td><%= listing.longitude %></td>
        <td><%= link_to 'Show', listing %></td>
        <td><%= link_to 'Edit', edit_room_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

    <%= link_to 'New Room', new_room_path %>
<% end %>
