<div class="container">
  <div class="col-md-3">
    <%= render 'shared/verticalnavbar'%>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="text-center">
          <span style="font-size:24px;">地図の編集</span>
        </div>
      </div>

      <div class="panel-body">
        <%= form_for @listing do |f| %>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= form.label :latitude %>
                <%= form.text_field :latitude, id: :room_latitude %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= form.label :longitude %>
                <%= form.text_field :longitude, id: :room_longitude %>
              </div>
            </div>
          </div>

          <div class="actions">
            <%= f.submit "更新", class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>