<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Add listing</li>
</ol>
<!-- /Breadcrumbs-->

<%= form_for @listing do |f| %>
  <section class="box_general u-pad_bottom_30">
    <div class="header_box version_2">
      <h2>Basic info</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Listing Title</label>
          <%= f.text_field :listing_name, placeholder: "Listing Title Name", class: "form-control", required: "true" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Category</label>
          <div class="styled-select">
            <%= f.select :listing_type, [["宿泊","宿泊"], ["食事","食事"], ["体験","体験"], ["その他","その他"]], 
                        { prompt:"選択してください" }, { required: 'true', autofocus: 'true' } %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Store Type</label>
          <div class="styled-select">
            <%= f.select :home_type, [["一軒家","一軒家"], ["店舗","店舗"], ["アパート","アパート"]],
                        { prompt:"選択してください" }, { required: 'true', autofocus: 'true' } %>
          </div>
        </div>
      </div>
    </div>
  </section>

  <p>
    <%= f.submit "Simple Save", class: "button button--save u-border-rounded" %>
  </p>
<% end %>


