<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">edit listing-Photos</li>
</ol>
<!-- /Breadcrumbs-->

<section class="box_general u-pad_bottom_30">
  <div class="header_box version_2">
    <h2>Photos</h2>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Photos</label>
        <%= form_for @photo, html:{ multipart: true, class:"dropzone dz-clickable", required: "true" } do |f| %>

          <%= f.hidden_field :listing_id, value: @listing.id %>
          <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
          
          <div class="fallback">
            <%= f.file_field :image %>
            <%= f.submit "Upload image" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<%= render 'shared/verticalnavbar'%>