
<br />
<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Reserved</li>
</ol>
<!-- /Breadcrumbs-->

<p id="notice"><%= notice %></p>

<section class="box_general">
  <div class="header_box">
    <h2 class="d-inline-block">予約を受けた一覧 <span>(Reserved)</span></h2>
    <% if false %>
    <div class="filter">
      <select name="orderby" class="selectbox" sb="">
        <option value="Any status">Any status</option>
        <option value="Approved">Approved</option>
        <option value="Pending">Pending</option>
        <option value="Cancelled">Cancelled</option>
      </select>
    </div>
    <% end %>
  </div>

  <div class="list_general">
    <% if @listings.length > 1 %>
    <ul>
      <% @listings.each do |listing| %>
        <li>
          <article>
            <figure>
              <% if listing.listing.photos.length > 0 %>
                <%= image_tag listing.listing.photos[0].image.url(:medium)  %>
              <% else %>
                <img src="http://placehold.jp/150x50.png" />
              <% end %>
            </figure>
            <h4 class="listing-title">
              <%= listing.listing.listing_name %>
              <% if false %>
              <i class="cancel">Cancelled</i>
              <i class="pending">Pending</i>
              <i class="approved">Approved</i>
              <% end %>
            </h4>
            <ul class="booking_list">
              <li><strong>Start date</strong><%= listing.start_date.strftime('%Y年%m月%d日〜') %></li>
              <li><strong>End date</strong><%= listing.end_date.strftime('%Y年%m月%d日') %></li>
              <li><strong>Booking details</strong> 2 People</li>
              <li>
                <strong>Client</strong>
                <%= link_to user_path(listing.listing.user) do %>
                  <%= image_tag listing.listing.user.image, width: 40 %>
                  <%= listing.listing.user.name %>
                <% end %>
              </li>
            </ul>
            <p><a href="#0" class="btn_1 gray"><i class="fa fa-fw fa-envelope"></i> Send Message</a></p>
            <ul class="buttons">
              <li><a href="#0" class="btn_1 gray approve"><i class="fa fa-fw fa-check-circle-o"></i> Approve</a></li>
              <li><a href="#0" class="btn_1 gray delete"><i class="fa fa-fw fa-times-circle-o"></i> Cancel</a></li>
            </ul>
          </article>
        </li>
      <% end %>
    </ul>
    <% else %>
      <hr />
      <p>予約はありません</p>
      <br />
    <% end %>
  </div>
</section>
<!-- /box_general-->

<nav aria-label="..." class="">
  <ul class="pagination pagination-sm add_bottom_30">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<!-- /pagination-->
