
<p id="notice"><%= notice %></p>
<div class="" style="margin-top: -20px; background: none;">
  <!-- カルーセル -->
  <div id="myCarousel" class="carousel slide">
    <!-- リストの点 -->
    <% if @photos.length > 1 %>
      <ol class="carousel-indicators">
        <% @photos.each do |photo| %>
          <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
        <% end %>
      </ol>
    <% end %>
    <div class="carousel-inner" role="listbox">
      <% if @photos %>
        <% @photos.each do |photo| %>
          <div class="item <%= 'active' if photo.id == @photos[0].id %>">
            <%= image_tag photo.photo.url(), style: "height:420px; width:100%; overflow:hidden;" %>
          </div>
        <% end %>
      <% end %>
      <div class="item">
        <%= image_tag "dummy/dummy00.jpg", style: "height:420px; width:100%; overflow:hidden;" %>
      </div>
    </div>

    <!-- 左右の矢印 -->
    <% if @photos.length > 1%>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    <% end %>
  </div>
</div>

<section class="listing-show-bg">
	<nav class="secondary_nav sticky_horizontal" style="">
		<div class="container">
			<ul class="clearfix">
				<li><a href="#description" class="">Description</a></li>
				<li><a href="#reviews" class="active">Reviews</a></li>
				<li><a href="#sidebar">Booking</a></li>
			</ul>
		</div>
	</nav>
	<div class="container margin_60_35">
		<div class="row">
			<div class="col-lg-8">
        <div>
          <h1><%= @listing.listing_name %></h1>
          <div>
            <%= @listing.user_id %>
          </div>
        </div>
				<section class="description">
					<h2>Description</h2>
          <div><p><%= @listing.summary %></p></div>
          <hr>
          <h3>Facility</h3>
					<div class="row">
						<div class="col-lg-6">
							<ul class="bullets">
                <% if @listing.is_tv %>
								  <li>TV</li>
                <% end %>
                <% if @listing.is_kitchen %>
								  <li>Kitchen</li>
                <% end %>
                <% if @listing.is_air %>
								  <li>Air Condition</li>
                <% end %>
                <% if @listing.is_heating %>
								  <li>Heater</li>
                <% end %>
                <% if @listing.is_internet %>
                  <li>Internet or Free Wifi</li>
                <% end %>
							</ul>
						</div>
						<div class="col-lg-6">
							<ul class="bullets">
								<li>Home type: <%= @listing.home_type %></li>
								<li>Room type: <%= @listing.listing_type %></li>
                <li>Accomodate <%= @listing.accomodate %> gesut</li>
								<li>Bedroom:  <%= @listing.bedroom %></li>
                <li>Bathroom: <%= @listing.bathroom %></li>
                <li>Sheet: <%= @listing.sheet %></li>
							</ul>
						</div>
					</div>
					<!-- /row -->
					<hr>
					<h3>Photos feed</h3>
					<div id="instagram-feed-restaurant" class="clearfix">
            <div class="instagram_gallery">
              <a href="#">
                <%= image_tag "dummy/dummy00.jpg", class: "listing-images" %>
              </a>
              <a href="#">
                <%= image_tag "dummy/dummy01.jpg", class: "listing-images" %>
              </a>
              <a href="#">
                <%= image_tag "dummy/dummy02.jpg", class: "listing-images" %>
              </a>
              <a href="#">
                <%= image_tag "dummy/dummy03.jpg", class: "listing-images" %>
              </a>
              <a href="#">
                <%= image_tag "dummy/dummy04.jpg", class: "listing-images" %>
              </a>
              <a href="#">
                <%= image_tag "dummy/dummy05.jpg", class: "listing-images" %>
              </a>
              <a href="#">
                <%= image_tag "dummy/dummy06.jpg", class: "listing-images" %>
              </a>
              <a href="#">
                <%= image_tag "dummy/dummy07.jpg", class: "listing-images" %>
              </a>
              <a href="#">
                <%= image_tag "dummy/dummy08.jpg", class: "listing-images" %>
              </a>
              <a href="#">
                <%= image_tag "dummy/dummy09.jpg", class: "listing-images" %>
              </a>
              <a href="#">
                <%= image_tag "dummy/dummy10.jpg", class: "listing-images" %>
              </a>
            </div>
          </div>
					<hr>
					<h3>Location</h3>
          <p><%= @listing.address %></p>
					<div id="map"></div>
					<!-- End Map -->
				</section>
				<!-- /section -->

				<section id="reviews">
					<h2>Reviews</h2>
					<div class="reviews-container">
						<div class="row">
							<div class="col-lg-3">
								<div id="review_summary">
									<strong>8.5</strong>
									<em>Superb</em>
									<small>Based on 4 reviews</small>
								</div>
							</div>
							<div class="col-lg-9">
								<div class="row">
									<div class="col-lg-10 col-9">
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<div class="col-lg-2 col-3"><small><strong>5 stars</strong></small></div>
								</div>
								<!-- /row -->
								<div class="row">
									<div class="col-lg-10 col-9">
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<div class="col-lg-2 col-3"><small><strong>4 stars</strong></small></div>
								</div>
								<!-- /row -->
								<div class="row">
									<div class="col-lg-10 col-9">
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<div class="col-lg-2 col-3"><small><strong>3 stars</strong></small></div>
								</div>
								<!-- /row -->
								<div class="row">
									<div class="col-lg-10 col-9">
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<div class="col-lg-2 col-3"><small><strong>2 stars</strong></small></div>
								</div>
								<!-- /row -->
								<div class="row">
									<div class="col-lg-10 col-9">
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width: 0" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
									<div class="col-lg-2 col-3"><small><strong>1 stars</strong></small></div>
								</div>
								<!-- /row -->
							</div>
						</div>
						<!-- /row -->
					</div>

					<hr>

					<div class="reviews-container">

						<div class="review-box clearfix">
							<figure class="rev-thumb">
                <%= image_tag "dummy/avatar1.png" %>
							</figure>
							<div class="rev-content">
								<div class="rating">
									<i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								</div>
								<div class="rev-info">
									Admin – April 03, 2016:
								</div>
								<div class="rev-text">
									<p>
										Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
									</p>
								</div>
							</div>
						</div>
						<!-- /review-box -->
						<div class="review-box clearfix">
							<figure class="rev-thumb">
                <%= image_tag "dummy/avatar2.png" %>
							</figure>
							<div class="rev-content">
								<div class="rating">
									<i class="icon-star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								</div>
								<div class="rev-info">
									Ahsan – April 01, 2016:
								</div>
								<div class="rev-text">
									<p>
										Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
									</p>
								</div>
							</div>
						</div>
						<!-- /review-box -->
						<div class="review-box clearfix">
							<figure class="rev-thumb">
                <%= image_tag "dummy/avatar3.png" %>
							</figure>
							<div class="rev-content">
								<div class="rating">
									<i class="icon-star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i>
								</div>
								<div class="rev-info">
									Sara – March 31, 2016:
								</div>
								<div class="rev-text">
									<p>
										Sed eget turpis a pede tempor malesuada. Vivamus quis mi at leo pulvinar hendrerit. Cum sociis natoque penatibus et magnis dis
									</p>
								</div>
							</div>
						</div>
						<!-- /review-box -->
					</div>
					<!-- /review-container -->
				</section>
				<!-- /section -->
				<hr>
				<div class="add-review">
					<h5>Leave a Review</h5>
					<form>
						<div class="row">
							<div class="form-group col-md-6">
								<label>Name and Lastname *</label>
								<input type="text" name="name_review" id="name_review" placeholder="" class="form-control">
							</div>
							<div class="form-group col-md-6">
								<label>Email *</label>
								<input type="email" name="email_review" id="email_review" class="form-control">
							</div>
							<div class="form-group col-md-12">
								<label>Your Review</label>
								<textarea name="review_text" id="review_text" class="form-control" style="height:130px;"></textarea>
							</div>
							<div class="form-group col-md-12 add_top_20">
								<input type="submit" value="Submit" class="btn_1" id="submit-review">
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /col -->

			<aside class="col-lg-4" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
  			<div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none; top: 0px; left: 754.484px;"><div class="box_detail booking">
					<div class="price">
						<span><%= @listing.price %>円<small>/人</small></span>
						<div class="score">
              <span>Woo<em>0 Reviews</em></span>
              <strong>0.0</strong>
            </div>
					</div>

          <div class="form-group">
            <%= form_for [@listing, @listing.reservations.new] do |f| %>
              <%= f.hidden_field :listing_id, value: @listing.id %>
              <%= f.hidden_field :price, value: @listing.price %>
              <%= f.hidden_field :total_price, id:'reservation_total_price' %>

              <label>Check In</label>
              <%= f.text_field :start_date,  class: 'form-control', placeholder: '開始' %>
              <i class="icon_calendar"></i>

              <label>Check Out</label>
              <%= f.text_field :end_date, class: 'form-control', placeholder: '終了', disabled:true %>
              <i class="icon_calendar"></i>

              <div id="sitter-price" class="row row-space-2 hidden">
                <div class="col-md-8 col-xs-8"></div>
                <div class="col-md-4 col-xs-4"></div>
              </div>
              <!-- 手数料 -->
              <div id="applicaton-fee" class="row row-space-2 hidden">
                <div class="col-md-8 col-xs-8"></div>
                <div class="col-md-4 col-xs-4"></div>
              </div>
              <!-- 合計料金 -->
              <div id="total-price" class="row row-space-2 hidden">
                <div class="col-md-8 col-xs-8"></div>
                <div class="col-md-4 col-xs-4"></div>
              </div>
              <!-- エラーメッセージ -->
              <div id="duplicate-message" class="row hidden">
                <div class="col-md-12 text-center">
                  <label class="error">その日程は予約できません</label>
                </div>
              </div>
              <% if user_signed_in? %>
                <%= f.submit "予約をリクエスト", class: "btn_1 full-width purchase" %>
              <% else %>
                <%= link_to "ログインしてください", new_user_session_path, class: "btn_1 full-width purchase" %>
              <% end %>
              <a href="wishlist.html" class="btn_1 full-width outline wishlist">
                <i class="icon_heart"></i> Add to wishlist
              </a>
              <div class="text-center"><small>まだ請求は発生しません.</small></div>
            <% end %>
					</div>
          <ul class="share-buttons">
  				  <li><a class="fb-share" href="#0"><i class="social_facebook"></i> Share</a></li>
  				  <li><a class="twitter-share" href="#0"><i class="social_twitter"></i> Tweet</a></li>
  			  </ul>
        </div>
      </aside>
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</section>
<script>
  function initMap() {
    var myLatLng = {lat: <%= @listing.latitude %>, lng: <%= @listing.longitude %>};
     // Create a map object and specify the DOM element
     // for display.
     var map = new google.maps.Map(document.getElementById('map'), {
       center: myLatLng,
       zoom: 14
     });

     // Create a marker and set its position.
     var marker = new google.maps.Marker({
       map: map,
       position: myLatLng,
       title: "<%= @listing.listing_name %>"
     });

/*
    var cityCircle = new google.maps.Circle({
      strokeColor: '#FF0000',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#FF0000',
      fillOpacity: 0.35,
      map: map,
      center: { lat: <%= @listing.latitude %>, lng: <%= @listing.longitude %> },
      radius: 500
    });
    */
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1BoiSo2jL950_AuFzV-f9ETgKn0uQl2I&signed_in=true&callback=initMap" async defer></script>

<script>
  $(function() {
    //日付について、それが選択不可能なものかを決める関数
    function disable(date){
      dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
      return [$.inArray(dmy,disabledDates) === -1];
    }

    // 不可能な日付の配列
    disabledDates = [];

    //事前にdatepickerに選択不可能な日付をセット
    $.ajax({
      url: '/setdate',
      data: { 'listing_id': <%= @listing.id %> },
      dataType: 'json',
      // disabledDates[]にすでに予約されている日付を追加
      success: function(data){
        console.log('----',data);
        $.each(data,function(objID,objValue){
          for(var d = new Date(objValue.start_date); d <= new Date(objValue.end_date); d.setDate(d.getDate() + 1 )){
            disabledDates.push($.datepicker.formatDate('d-m-yy',d));
          }
        });

        $('#reservation_start_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: disable,
          // 日付が選択された時の処理
          onSelect: function(selected){
            $('#reservation_end_date').datepicker("option", "minDate", selected);
            $('#reservation_end_date').attr('disabled', false);

            var start_date = $(this).datepicker('getDate');
            var end_date = $('#reservation_end_date').datepicker('getDate');
            var days = (end_date - start_date) / 1000 / 60 / 60 / 24 + 1;

            var inputs = {
              'start_date': start_date,
              'end_date': start_date,//end_date,
              'listing_id':<%= @listing.id %>
            }
            // 選択日に重なりがないかチェックするajax
            $.ajax({
              url: "/duplicate",
              data: inputs,
              success: function(data){
                if (data.duplicate) {
                  // 重なりがある場合
                  $('#duplicate-message').removeClass('hidden');
                  $('#sitter-price').addClass('hidden');
                  $('#applicaton-fee').addClass('hidden');
                  $('#total-price').addClass('hidden');
                  $('.btn-wide').attr('disabled', true);
                } else {
                  // 重なりがない場合は
                  $('#duplicate-message').addClass('hidden');

                  var sitter_price = days * <%= @listing.price %> ;
                  var applicaton_fee =  Math.round(sitter_price * 0.136) ;
                  var price_total = sitter_price + applicaton_fee;
                  $('#sitter-price').removeClass('hidden');
                  $('#total-price').removeClass('hidden');
                  $('#applicaton-fee').removeClass('hidden');
                  $('#sitter-price .col-md-8').text("小計:"+"<%= @listing.price %>"+"円"+" x "+days+"日");
                  $('#applicaton-fee .col-md-8').text("手数料:小計×13.6%");
                  $('#total-price .col-md-8').text("合計料金");

                  $('#sitter-price .col-md-4').text(sitter_price+"円");
                  $('#applicaton-fee .col-md-4').text(applicaton_fee+"円");
                  $('#total-price .col-md-4').text(price_total+"円");
                  $('#reservation_total_price').val(price_total);
                  $('.btn-wide').attr('disabled', false);
                }
              }
            });
          }
        });

        // end_date欄がクリックされた時の処理
        $('#reservation_end_date').datepicker({
          dateFormat: 'dd-mm-yy',
          minDate: 0,
          maxDate: '3m',
          beforeShowDay: disable,
          onSelect: function(selected){
            $('#reservation_start_date').datepicker("option","maxDate",selected);

            var start_date = $('#reservation_start_date').datepicker('getDate');
            var end_date = $(this).datepicker('getDate');
            var days = (end_date - start_date) / 1000 / 60 / 60 / 24 + 1;

            var inputs = {
              'start_date': start_date,
              'end_date': end_date,
              'listing_id':<%= @listing.id %>
            }

            // 選択日に重なりがないかチェックするajax
            $.ajax({
              url: "/duplicate",
              data: inputs,
              success: function(data){
                console.log(data)
                if (data.duplicate) {
                  // 重なりがある場合
                  $('#duplicate-message').removeClass('hidden');
                  $('#sitter-price').addClass('hidden');
                  $('#applicaton-fee').addClass('hidden');
                  $('#total-price').addClass('hidden');
                  $('.btn-wide').attr('disabled', true);
                }else{
                  // 重なりがなくokな場合
                  $('#duplicate-message').addClass('hidden');

                  var sitter_price = days * <%= @listing.price %> ;
                  var applicaton_fee =  Math.round(sitter_price * 0.136) ;
                  var price_total = sitter_price + applicaton_fee;
                  $('#sitter-price').removeClass('hidden');
                  $('#total-price').removeClass('hidden');
                  $('#applicaton-fee').removeClass('hidden');
                  $('#sitter-price .col-md-8').text("小計:"+"<%= @listing.price %>"+"円"+" x "+days+"日");
                  $('#applicaton-fee .col-md-8').text("手数料:小計×13.6%");
                  $('#total-price .col-md-8').text("合計料金");

                  $('#sitter-price .col-md-4').text(sitter_price+"円");
                  $('#applicaton-fee .col-md-4').text(applicaton_fee+"円");
                  $('#total-price .col-md-4').text(price_total+"円");
                  $('#reservation_total_price').val(price_total);
                  $('.btn-wide').attr('disabled', false);
                }
              }
            });
          }
        });
      }
    });
  });
</script>
