<%= render partial: 'shared/main_banner' %>

<div class="bd-main-container">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">カテゴリーで探す</h1>
        <div class="columns">
          <div class="column">

            <div class="card">
              <div class="card-media">
                <div class="media-left">
                  <%= image_tag 'https://picsum.photos/196/176/?random', class: 'card-media-img'%>
                </div>
                <div class="media-content card-media-content">
                  <p class="title is-4">カテゴリー1</p>
                </div>
              </div>
            </div>

          </div>
          <div class="column">

            <div class="card">
              <div class="card-media">
                <div class="media-left">
                  <%= image_tag 'https://picsum.photos/196/176/?random', class: 'card-media-img'%>
                </div>
                <div class="media-content card-media-content">
                  <p class="title is-4">カテゴリー2</p>
                </div>
              </div>
            </div>

          </div>
          <div class="column">

            <div class="card">
              <div class="card-media">
                <div class="media-left">
                  <%= image_tag 'https://picsum.photos/196/176/?random', class: 'card-media-img'%>
                </div>
                <div class="media-content card-media-content">
                  <p class="title is-4">カテゴリー3</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">おすすめ</h1>
        <div class="columns">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="subtitle is-4">山田  山田</p>
                    <p class="subtitle is-6">@yamadada</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="subtitle is-4">山田  山田</p>
                    <p class="subtitle is-6">@yamadada</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="subtitle is-4">山田  山田</p>
                    <p class="subtitle is-6">@yamadada</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="subtitle is-4">山田  山田</p>
                    <p class="subtitle is-6">@yamadada</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <%= render partial: 'shared/banner' %>

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">体験</h1>
        <p class="subtitle">仲間と何か新しいことにチャレンジ</p>
        <div class="columns">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="subtitle is-4">山田  山田</p>
                    <p class="subtitle is-6">@yamadada</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="subtitle is-4">山田  山田</p>
                    <p class="subtitle is-6">@yamadada</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="subtitle is-4">山田  山田</p>
                    <p class="subtitle is-6">@yamadada</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="subtitle is-4">山田  山田</p>
                    <p class="subtitle is-6">@yamadada</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">会議</h1>
        <div class="columns">
          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="subtitle is-4">山田  山田</p>
                    <p class="subtitle is-6">@yamadada</p>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="column">
            <div class="card">
              <div class="card-image">
                <figure class="image is-4by3">
                  <img src="https://picsum.photos/1280/960/?random" alt="Placeholder image">
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-content">
                    <p class="subtitle is-4">山田  山田</p>
                    <p class="subtitle is-6">@yamadada</p>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render partial: 'shared/banner' %>


</div>
