<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :reservation_user_id %>
  </div>

  <div class="field">
    <%= form.label :listing_id %>
    <%= form.text_field :listing_id, id: :reservation_listing_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :reservation_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :reservation_end_date %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, id: :reservation_start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.time_select :end_time, id: :reservation_end_time %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :reservation_price %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.number_field :total, id: :reservation_total %>
  </div>

  <div class="field">
    <%= form.label :menu %>
    <%= form.text_field :menu, id: :reservation_menu %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
