<p id="notice"><%= notice %></p>

<p>
  <strong>Home type:</strong>
  <%= @room.home_type %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @room.room_type %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @room.summary %>
</p>

<p>
  <strong>Address:</strong>
  <%= @room.address %>
</p>

<p>
  <strong>Is tv:</strong>
  <%= @room.is_tv %>
</p>

<p>
  <strong>Is kitchen:</strong>
  <%= @room.is_kitchen %>
</p>

<p>
  <strong>Is air:</strong>
  <%= @room.is_air %>
</p>

<p>
  <strong>Is heating:</strong>
  <%= @room.is_heating %>
</p>

<p>
  <strong>Is internet:</strong>
  <%= @room.is_internet %>
</p>

<p>
  <strong>Accomodate:</strong>
  <%= @room.accomodate %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @room.bedroom %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @room.bathroom %>
</p>

<p>
  <strong>Sheet:</strong>
  <%= @room.sheet %>
</p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Active:</strong>
  <%= @room.active %>
</p>

<p>
  <strong>User:</strong>
  <%= @room.user_id %>
</p>

<p>
  <strong>Listing name:</strong>
  <%= @room.listing_name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @room.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @room.longitude %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
